---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1 class="text-3xl text-center py-2">About</h1>
  <div class="text-center">
    <p>
      Made by <a
        class="text-blue-500 underline"
        href="https://www.github.com/jalvsaker">Jens</a
      >
    </p>
    <p>
      Data made available by <a
        class="text-blue-500 underline"
        href="https://entur.no/"
      >
        Entur
      </a>
    </p>
  </div>
</Layout>
