---
import Layout from "../../layouts/Layout.astro";
import { DepartureBoard } from "../../components/DepartureBoard";
import { fetchDepartures } from "../../utils/entur/fetchDepartures";

export const prerender = false;

const { stationId } = Astro.params;
if (!stationId) throw new Error("");
const station = await fetchDepartures(stationId);

if (!station) {
  return new Response("Not found", {
    status: 404,
    statusText: "Not Found",
  });
}
---

<Layout title={station.name}>
  <h1>{station.name}</h1>
  <DepartureBoard
    station={stationId}
    initialDepartures={station.departures}
    client:load
  />
</Layout>
