---
import { FaMoon, FaSun } from "react-icons/fa";
---

<script is:inline>
  if (!localStorage.getItem("theme")) {
    localStorage.setItem(
      "theme",
      window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light",
    );
  }
  if (localStorage.getItem("theme") === "dark") {
    document.documentElement.classList.add("dark");
  }
</script>
<script>
  function changeIcon(isDark: boolean) {
    if (isDark) {
      document
        .querySelectorAll("[data-dark-moon]")
        .forEach((e) => e.classList.add("hidden"));
      document
        .querySelectorAll("[data-dark-sun]")
        .forEach((e) => e.classList.remove("hidden"));
    } else {
      document
        .querySelectorAll("[data-dark-moon]")
        .forEach((e) => e.classList.remove("hidden"));
      document
        .querySelectorAll("[data-dark-sun]")
        .forEach((e) => e.classList.add("hidden"));
    }
  }

  document.querySelectorAll("[data-dark-toggle]").forEach((button) => {
    changeIcon(localStorage.getItem("theme") === "dark");

    button?.addEventListener("click", () => {
      if (localStorage.getItem("theme") === "dark") {
        localStorage.setItem("theme", "light");
        document.documentElement.classList.remove("dark");
        changeIcon(false);
      } else {
        localStorage.setItem("theme", "dark");
        document.documentElement.classList.add("dark");
        changeIcon(true);
      }
    });
  });
</script>

<button class="right-1 top-1 absolute text-xl" data-dark-toggle>
  <FaSun className="hidden" data-dark-sun />
  <FaMoon className="hidden" data-dark-moon />
</button>
