<script is:inline>
  if (!localStorage.getItem("theme")) {
    localStorage.setItem(
      "theme",
      window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light",
    );
  }
  if (localStorage.getItem("theme") === "dark") {
    document.documentElement.classList.add("dark");
  }
</script>
<script>
  const button = document.querySelector("#dark-toggle");
  if (button)
    button.textContent =
      localStorage.getItem("theme") === "dark" ? "Light mode" : "Dark mode";
  button?.addEventListener("click", () => {
    if (localStorage.getItem("theme") === "dark") {
      localStorage.setItem("theme", "light");
      document.documentElement.classList.remove("dark");
      button.textContent = "Dark mode";
    } else {
      localStorage.setItem("theme", "dark");
      document.documentElement.classList.add("dark");
      button.textContent = "Light mode";
    }
  });
</script>

<button class="right-1 top-1 absolute" id="dark-toggle"></button>
