---
import { FaMoon, FaSun } from "react-icons/fa";
---

<script>
  function changeIcon(isDark: boolean) {
    if (isDark) {
      document
        .querySelectorAll("[data-dark-moon]")
        .forEach((e) => e.classList.add("hidden"));
      document
        .querySelectorAll("[data-dark-sun]")
        .forEach((e) => e.classList.remove("hidden"));
    } else {
      document
        .querySelectorAll("[data-dark-moon]")
        .forEach((e) => e.classList.remove("hidden"));
      document
        .querySelectorAll("[data-dark-sun]")
        .forEach((e) => e.classList.add("hidden"));
    }
  }

  document.querySelectorAll("[data-dark-toggle]").forEach((button) => {
    changeIcon(localStorage.getItem("theme") === "dark");

    button?.addEventListener("click", () => {
      if (localStorage.getItem("theme") === "dark") {
        localStorage.setItem("theme", "light");
        document.documentElement.classList.remove("dark");
        changeIcon(false);
      } else {
        localStorage.setItem("theme", "dark");
        document.documentElement.classList.add("dark");
        changeIcon(true);
      }
    });
  });
</script>

<button
  class="text-xl py-2 flex-grow flex justify-center border-r last:border-0 border-gray-400 dark:border-gray-800"
  data-dark-toggle
  aria-label="Toggle color theme"
>
  <FaSun className="hidden" data-dark-sun />
  <FaMoon className="" data-dark-moon />
</button>
