---
import { FaMoon, FaSun } from "react-icons/fa";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<script>
  function changeIcon(isDark: boolean) {
    if (isDark) {
      document
        .querySelectorAll("[data-dark-moon]")
        .forEach((e) => e.classList.add("hidden"));
      document
        .querySelectorAll("[data-dark-sun]")
        .forEach((e) => e.classList.remove("hidden"));
    } else {
      document
        .querySelectorAll("[data-dark-moon]")
        .forEach((e) => e.classList.remove("hidden"));
      document
        .querySelectorAll("[data-dark-sun]")
        .forEach((e) => e.classList.add("hidden"));
    }
  }

  document.querySelectorAll("[data-dark-toggle]").forEach((button) => {
    changeIcon(localStorage.getItem("theme") === "dark");

    button?.addEventListener("click", () => {
      if (localStorage.getItem("theme") === "dark") {
        localStorage.setItem("theme", "light");
        document.documentElement.classList.remove("dark");
        changeIcon(false);
      } else {
        localStorage.setItem("theme", "dark");
        document.documentElement.classList.add("dark");
        changeIcon(true);
      }
    });
  });
</script>

<button class={className} data-dark-toggle aria-label="Toggle color theme">
  <FaSun className="hidden" data-dark-sun />
  <FaMoon className="hidden" data-dark-moon />
</button>
