---
import DarkModeButton from "../components/DarkModeButton.astro";
import { FaHome, FaInfo } from "react-icons/fa";
import NavButton from "../components/NavButton.astro";
---

<nav
  class="fixed bottom-0 left-0 right-0 flex justify-around dark:bg-gray-950 bg-white border-t border-gray-400 dark:border-gray-800"
>
  <NavButton>
    <a href={"/"} aria-label={"Home"} class="flex-grow flex justify-center">
      <FaHome />
    </a>
  </NavButton>
  <NavButton>
    <a
      href={"/about"}
      aria-label={"About"}
      class="flex-grow flex justify-center"
    >
      <FaInfo />
    </a>
  </NavButton>
  <NavButton>
    <DarkModeButton className="flex-grow flex justify-center" />
  </NavButton>
</nav>
