---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<a
  class="text-xl py-2 flex-grow flex justify-center border-r last:border-0 border-gray-400 dark:border-gray-800"
  href={href}
  aria-label={label}
>
  <slot />
</a>
